build/
install/
log/
.ros/
.vscode-server/
*.o
*.logcatkin_ws/build/
.ros/
.vscode-server/
.cache/
.config/
.copilot/
.dbus/
.dotnet/
.gnupg/
.rviz/
.ssh/
.bashrc
.profile
.gitconfig
.bash_history
*.o
*.log
**/build/
**/install/
**/log/
